@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Space Mono');



@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: /* "DM Mono", sans-serif; */'Space Mono';
  @apply text-white;
}

button {
  display: inline-block;
  border: 2px solid purple;
  background-color: purple;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: purple;
}
